:root {
  /* 移动端背景 */
  --mobile-bg-image-dark: url('../images/dark.png');
  --mobile-bg-image-light: url('../images/light.png')

  /* 桌面端背景 */
  --desktop-bg-image-normal: url('../images/light.png');
  --desktop-bg-image-night: url('../images/dark.png');
}

#web_bg {
  background-image: var(--desktop-bg-image-normal);
  position: fixed;
  width: 100%;
  height: 100%;
  z-index: -1;
  background-size: cover;
  transition: background-image 0.5s ease-in-out;
}


/* 日间模式导航栏样式：白底黑字 */
.navbar-day {
  background-color: #ffffff !important;
}
.navbar-day .nav-link {
  color: #000000 !important;
}

/* 夜间模式导航栏样式：黑底白字 */
.navbar-night {
  background-color: #000000 !important;
}
.navbar-night .nav-link {
  color: #ffffff !important;
}

/* 日间模式下品牌文字样式 */
.navbar-day .navbar-brand {
  color: #000000 !important;
}

/* 夜间模式下品牌文字样式 */
.navbar-night .navbar-brand {
  color: #ffffff !important;
}


/* 日间模式下 banner 文本样式 */
.banner-text-day {
  color: #000000 !important;
}

/* 夜间模式下 banner 文本样式 */
.banner-text-night {
  color: #ffffff !important;
}
