:root {
  --mobile-bg-image: url('https://whi4ed0g.github.io/img/bg/eva_mobile.jpg');
  --desktop-bg-image-normal: url('https://whi4ed0g.github.io/img/bg/eva.jpg');
  --desktop-bg-image-night: url('https://whi4ed0g.github.io/img/bg/Mei.jpg');
}

#web_bg {
  background-image: var(--desktop-bg-image-normal);
  position: fixed;
  width: 100%;
  height: 100%;
  z-index: -1;
  background-size: cover;
  /* 添加过渡效果 */
  transition: all 0.5s;
}

